* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}


main {
    header {
        .bg-dark {  
            background-color: #000000!important;
            border-bottom: solid 2px red;

            .navbar-collapse {
                justify-content: flex-end;
                .dropdown-menu {
                    background-color: rgb(0, 0, 0);
                    .dropdown-item {
                        text-align: center;
                        color: white;
                    }
                }
                .nav-item {
                    text-align: center;
                }
            }
        }
    }
    .paginaDeInicio {
        margin-top: 2rem;

        .textoDeInicio {
            margin-top: 7rem;
            text-align: center;
            h1 {
                color: red;
                font-size: 2.5rem;
                font-family: 'Rubik', sans-serif;
                letter-spacing: 2px;
                word-spacing: 5px;
            }
            p {
                color: white;
                font-size: 1rem;
                font-family: 'Rubik', sans-serif;
                letter-spacing: 2px;
                word-spacing: 2px;
                line-height: 1.6;
            }
        }
    }
    .row {
        .topMasVisto {
            margin-bottom: 5rem;

            .topMasVisto h2 {
                height: 8rem;
                text-align: center;
            }
        }
    }

    .footer {
        display: flex;
        width: 100%;
        height: 7vh;
        margin-top: 1rem;
        border-top: solid 3px red;
        justify-content: space-between;

        .footerLeft {
            align-items: center;
            .iconFooter {
                width: 10%;
                display: inline-block;
            }
        
            p {
                display: inline-block;
                height: 5vh;
                color: white;
            }
        }
        .footerRight {
            .iconRedSocial{
                font-size: 2.5rem;
                color: red;
                margin-top: 1rem;
                margin-right: 2rem;
            }
        }
    }
        .row {
            width: 95vw;
            .distintasRecomendaciones {
                h1 {
                    color: red;
                    font-family: 'Rubik', sans-serif;
                    letter-spacing: 1px;
                    font-size: 4rem;
                    text-align: center;
                    margin-top: 20px;
                    }
                    .recomendacion {
                        width: 100%;
                        height: auto;
                        padding: 30px;
                        margin: 10px;
                        h2 {
                            font-family: 'Rubik', sans-serif;
                            font-size: 2rem;
                            letter-spacing: 1px;
                            word-spacing: 5px;
                            color: red;
                            }
                        p {
                            font-family: 'Rubik', sans-serif;
                            font-size: 1rem;
                            letter-spacing: 1px;
                            word-spacing: 1px;
                            padding: 10px 0px;
                            margin: 10px 0px;
                            color: rgb(255, 254, 254)
                            }
                        .imagenesDeRecomendacion {
                            width: 90%;
                        }
                    
            }
        }
        
    }
    
}

aside {
    width: 40vw;
    height: auto;
    margin: 20px;
    padding: 20px;
    margin-top: 20vh;

}

.noticias{
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px;
    position: relative;
}

aside h2{
    color: red;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
}

.noticias img {
    display: inline-block;
    width: 40%;
}

aside p {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 15px;
    margin: 10px;
    margin-top: 1%;
    margin-right: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: white;
}

@media (min-width: 0px) and (max-width:350px) {

  aside p {
      width: 65%;
      font-size: 0.8rem;
      margin-top: 0;
  }
  .noticias img {
    width: 30%;
}
}

@media (min-width: 351px) and (max-width:516px) {
  aside p {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width:980px){
  .noticias img {
    width: 30%;
}
  aside p {
    width: 65%;
    font-size: 0.7rem;
    padding: 0.3rem;
  }
}

.errorPage {
    width: 100vw;
    height: 80vh;
    text-align: center;
    h1{
        color: red;
    }
    p {
        color: white;
    }
    img {
        width: 20rem;    
    }
    button {
        background-color: brown;
        border-radius: 2px;
    }
}