* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
// centrado de elementos
.flexCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hoverLink{
    :hover{
        color: red;
    }
}
// aca empieza el navbar
main {
    header {
        .bg-dark {  
            background-color: #000000!important;
            border-bottom: solid 2px red;

            .navbar-collapse {
                justify-content: flex-end;
                .nav-link{
                    color: white;
                }
                .dropdown-menu {
                    background-color: rgb(0, 0, 0);
                    .dropdown-item {
                        text-align: center;
                        color: white;
                    }
                }
                .nav-item {
                    text-align: center;
                }
            }
        }
    }
// acá termina el navbar

// acá comienza el texto del home
    .paginaDeInicio {
        .textoDeInicio {
            margin-top: 7rem;
            text-align: center;
            width: 90vw;
            h1 {
                color: red;
                font-size: 2.5rem;
                font-family: 'Rubik', sans-serif;
                letter-spacing: 2px;
                word-spacing: 5px;
            }
            p {
                color: white;
                font-size: 1rem;
                font-family: 'Rubik', sans-serif;
                letter-spacing: 2px;
                word-spacing: 2px;
                line-height: 1.6;
            }
        }
        .gridTopMasVisto {
            width: 90vw;
        }
    }
// acá termina el texto del home

    // acá comienza el footer
    .footer {
        display: flex;
        width: 100%;
        max-height: 10rem;
        margin-top: 1rem;
        border-top: solid 3px red;
        justify-content: space-between;
        .footerLeft {
            width: 75%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .iconFooter {
                width: 4rem;
                display: inline-block;
                margin-top: 0.1rem;
            }
            .textFooter {
                display: inline-block;
                width: 62%;
                font-size: 0.8rem;
                color: white;
                margin-top: 0.5rem;
            }
        }

        .footerRight {
            width: 10%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            .iconRedSocial {
                width: 20%;
                color:red;
                margin-right: 0.6rem;
                font-size: 1.5rem;
            }
        }
    }
    // acá termina el footer
}


.distintasRecomendaciones {
    h1 {
        color: red;
        font-family: 'Rubik', sans-serif;
        letter-spacing: 1px;
        font-size: 4rem;
        text-align: center;
        margin-top: 20px;
        }
    h2{
        font-family: 'Rubik', sans-serif;
        font-size: 2.5rem;
        letter-spacing: 2px;
        word-spacing: 5px;
        color: red;
    }
    .recomendacion {
        width: 90vw ;
        h2 {
            font-family: 'Rubik', sans-serif;
            font-size: 2rem;
            letter-spacing: 1px;
            word-spacing: 5px;
            color: red;
            }
        .textoRecomendacion {
            width: 95%;
            font-family: 'Rubik', sans-serif;
            font-size: 1rem;
            letter-spacing: 1px;
            word-spacing: 1px;
            margin-top: 1rem;
            color: rgb(255, 254, 254)
            }
        .imagenesDeRecomendacion {
            width: 95%;
        }
        section{
            margin-top: 1rem;
            .linkVerAhora{
                text-decoration: none;
                color: rgb(78, 78, 78);
                width: 10rem;
                i{
                    display: inline-block;
                    font-size: 1.2rem;
                    width: 100%;
                    p{
                        display: inline-block;
                        width: 10rem;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }
}


aside {
    section{
        width: 90vw;
        margin-top: 2rem;
        h2{
            color: red;
            font-family: 'Rubik', sans-serif;
            font-size: 3rem;
            letter-spacing: 1px;
            word-spacing: 1px;
            text-align: center;
        }
        .noticias{
            width: 100%;
            height: auto;
            position: relative;
            margin-top: 1rem;
            img {
                display: inline-block;
                width: 40%;
                height: 10vh;
            }
            p {
                display: inline-block;
                position: absolute;
                width: 55%;
                padding-left: 5px;
                font-family: 'Rubik', sans-serif;
                font-size: 0.65rem;
                letter-spacing: 1px;
                word-spacing: 1px;
                color: white;
            }
        }
    }
}
// acá comienza la pagina de error 404
.errorPage {
    width: 100vw;
    height: 80vh;
    h1{
        color: red;
    }
    p {
        color: white;
    }
    img {
        width: 20rem;    
    }
    button {
        margin-top: 1rem;
        background-color: brown;
        border-radius: 2px;
    }
}


@media (min-width: 768px){
    .flexCenter{
        justify-content: flex-start;
    }
    .gridRecomendacion {
        width: 95vw;
        display: grid;
        grid-template-columns: 7fr 5fr;
        grid-auto-flow: row;
    }
    .distintasRecomendaciones {
        width: 90%;
        .recomendacion{
            width: 100%;
        }
    }

    aside{
        section{
            width: 90%;
            .noticias{
                img{
                    width: 45%;
                    height: 7.5rem;
                }
                p{
                    width: 55%;
                    font-size: 0.75rem;
                }
            }
        }
    }
}

@media (min-width: 981px) and (max-width:2561px){
    aside{
        section{
            .noticias{
                img{
                    width: 40%;
                }
                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
    main{
        .footer{
            .footerLeft{
                .textFooter {
                    font-size: 1.3rem;
                }
            }
        }
        
    }
    
    .iconRedSocial {
        font-size: 2.5rem;
    }
}